{% extends 'base.html' %}

{% block container %}
  {% if author %}
    <h3>{{ author.name }}</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Books</th>
        </tr>
      </thead>
      <tbody>
        {% for author_book in author_books %}
          <tr>
            <td><a href="{% url 'books:show_book' author_book.id %}">{{author_book.title}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'authors:edit_author' author.id %}">Edit</a>
    <a href="{% url 'authors:delete_author' author.id %}">Delete</a>
  {% endif %}
{% endblock %}
