<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role='navigation'>
        <div class="container-fluid">
          <a href="/" class="navbar-brand">Lorren</a>
          <ul class="navbar-nav mr-auto">
             <li class="nav-item">
               <a class="nav-link" href="{% url 'authors:list_authors'%}">Authors</a>
             </li>
           </ul>
        </div>
      </nav>
      <div class="jumbotron">
        {% block container %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>
