{% extends 'base.html' %}

{% block page_title %}{{ book.title }}{% endblock %}

{% block container %}
  <table class="table">
    <tr>
      <td>Title: </td>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <td>Author: </td>
      <td><a href="{% url 'authors:show_author' book.author.id %}">{{book.author}}</a></td>
    </tr>
    <tr>
      <td>Year: </td>
      <td>{{book.year}}</td>
    </tr>
    <tr>
      <td>Rate: </td>
        <td>
          <label id="id_book_rate">{{ book.rating }}</label>
        </td>
    </tr>
  </table>
  <a href="{% url 'books:edit_book' book.id %}">Edit</a>
  <a href="{% url 'books:delete_book' book.id %}">Delete</a>
  <br><br>
  <form class="" action="rate" method="post">
    <select class="" name="rating" id="id_rate_point">
      <option disabled selected value> -- Choose a point -- </option>
      {% for i in 'xxxxxxxxxx' %}
        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
        {% endfor %}
      </select>
      <input type="submit" id="id_rate_btn" name="" value="Rate">
      {% csrf_token %}
    </form>
{% endblock %}
