{% extends 'base.html' %}

{% block page_title %}{{ book.title }}{% endblock %}

{% block container %}
  <table>
    <tr>
      <td>Title: </td>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <td>Author: </td>
      <td><a href="{% url 'authors:show_author' book.author.id %}">{{book.author}}</a></td>
    </tr>
    <tr>
      <td>Year: </td>
      <td>{{book.year}}</td>
    </tr>
  </table>
  <a href="{% url 'books:edit_book' book.id %}">Edit</a>
  <a href="{% url 'books:delete_book' book.id %}">Delete</a>
{% endblock %}
